.bg-img {
    background-image: url("https://res.cloudinary.com/monggovest/image/upload/v1543880560/icon/bg-lupa-pass-new.png");
    background-repeat: no-repeat;
    height: 720px;
    background-size: cover;
}

.modal-bg.link {
    top: 20%;
    height: 380px;

}

.login-title.link {
    font-size: 24px;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 10px;
}

.pass-text.link{
    margin-bottom: 20px;
}

.email-form.link {
    margin-bottom: 30px;
}

.text-center.email{
    margin-bottom: 20px;
}

.redirect-home.email{
    margin-top: 540px;
}
