.modal-bg {
	position: absolute;
	z-index: 5001;
	top: 8%;
	height: 560px;
	padding-bottom: 40px;
	width: 50%;
	border: 1px solid rgba(197,226,250,0.5);
	border-radius: 10px;
	background-color:  rgba(255, 255, 255, 0.8);
	box-shadow: 0 5px 10px 0 rgba(7,112,200,0.1), 0 10px 20px 0 rgba(5,79,140,0.05);
}
@media (max-width: 640px) {
	.modal-bg {
	  width: 85%;
	  position: absolute;
		top: 5%;
		
	}
  }

.icon-exit {
	height: 40px;
	width: 40px;
	border: 1px solid rgba(197,226,250,0.5);
	border-radius: 50%;
	background-color: #FFFFFF;
	box-shadow: 0 5px 10px 0 rgba(7,112,200,0.1), 0 10px 20px 0 rgba(5,79,140,0.05);
	float: right;
	margin: 10px 10px 0 0;
	padding: 2px;
	border: 0;
}

.close {
    float: right;
    font-size: 32px;
    font-weight: normal;
    line-height: 0;
    color: #0770C8;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    height: 15px;
}

.icon-x {
	height: 15px;
	width: 15px;
	text-align: center;
	margin: 10px;
	border: 1px solid #0770C8;
}

.signup-title {
	padding-top: 40px;
    color: #2C313C;
	font-family: 'Scada', sans-serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
    text-align: center;
	margin-bottom: 30px;
	
}

.email-title {
	height: 17px;
	color: #494E5A;
	font-family: 'Scada', sans-serif;
	font-size: 14px;
	font-weight: 300;
    line-height: 17px;
    margin: 0 16.7% 3px 16.7%;
         
}

.name-title {
	height: 17px;
	color: #494E5A;
	font-family: 'Scada', sans-serif;
	font-size: 14px;
	font-weight: 300;
    line-height: 17px;
    margin: 0 16.7% 3px 16.7%;
         
}
input{
	background-color:  rgba(255, 255, 255, 0.5);
}
.name-form {
	height: 100%;
	width: 67%;
	border: 1px solid #0770C8;
	border-radius: 5px;
    margin: 0 16.7% 10px 16.7%;
    padding: 10px 0 10px 15px;
    
}

.email-form {
	height: 40px;
	width: 67%;
	border: 1px solid #0770C8;
    border-radius: 5px;
    margin: 0 16.7% 0px 16.7%;
    padding: 10px 0 9px 15px;
    
}

.pass-title {
	height: 17px;
	color: #494E5A;
	font-family: 'Scada', sans-serif;
	font-size: 14px;
	font-weight: 300;
    line-height: 17px;
    margin: 15px 16.7% 3px 16.7%;
         
}

.pass-form {
	display: inline-block;
	height: 40px;
	width: 67%;
	border: 1px solid #0770C8;
    border-radius: 5px;
    margin: 0 16.7% 10px 16.7%;
    padding: 10px 0 9px 15px;
	    
}

.pass-icon {
	-moz-appearance: none;
	top: 40px;
	position: relative;
	height: 40px;
	float: right;
	width: 43px;
	border-radius: 0 5px 5px 0;
	background: linear-gradient(45deg, #0A3565 0%, #1782D9 100%);
	border: 0;
	margin-right: 16.3%;
    margin-top: 0px;
    bottom: 0px;
    
}

.pass-icon:hover {
	background: linear-gradient(45deg, rgb(6, 32, 61) 0%, rgb(29, 114, 184) 100%);
}


.icon-stroke {
	top: 50px;
	left: 30px;	
	position: relative;
	float: right;
	width: 20px;
	height: 20px;
}

.login-button {
	height: 60px;
	width: 33%;
	border-radius: 30px;
    background: linear-gradient(45deg, #0A3565 0%, #1782D9 100%);
    margin: 0 33% 0px 33%;
    border: 0;
}

.login-button:hover{
    background: linear-gradient(45deg, rgb(6, 32, 61) 0%, rgb(29, 114, 184) 100%);
}

.lanjutkan {
	height: 19px;
	width: 90px;
	color: #F5FAFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	text-align: center;
}

.pass-text {
	width: 67%;
	color: #494E5A;
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	margin: 0px 16.7% 20px 16.7%;
}



.log-link {
	display: inline;
	color: #0770C8;
	font-family: 'Scada', sans-serif;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}
.log-link:hover {
	font-weight: bold;
	color: #0770C8; 
	background-color: transparent
}