.product-detail-header {
    margin-bottom: 40px;
}

.d-flex {
    display: block;
}

// .carousel-custom {
//     max-width: 100%;
//     height: 300px;
// }

.sharingbar {
    display: flex;
    justify-content: center;
}

.sebarkan{
    margin-right: 0px;
}

.cinta{
    margin-left: 15px;
    margin-right:20px;
}