.mfddp1wrapper{
    position: relative;
    width: 320px;
    height: 50px;
    }
  
  .mfddp1par{
    position: absolute;
    top: 5px;
  }
  .mfddp1select-box--container {
    
    height: 40px;
    border-radius: 5px;
    border: 1px solid #0770C8; 
    
   
  
  }
  
  .mfddp1select-box--box {
    width: 550px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  
  .mfddp1select-box--arrow {
    width: 40px;
    height: 40px;
    display: inline-block;
    background:linear-gradient(45deg, #0A3565 0,#1782D9 100%);
    position: absolute;
    right: 1px;
    top: 1.5px;
    border-radius: 0 5px 5px 0;
  }
  
  .mfddp1select-box--selected-item {
    display: inline-block;
    height: 10%;
    width: 100%;
    padding: 11px 12px;
    vertical-align: middle;
  }
  
  .mfddp1select-box--items {
    width: 320px;
    position: absolute;
    background: white;
    z-index: 99;
  }
  
  .mfddp1select-box--items div {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 11px;
    padding-left: 20px;
  }
  
  // .mfddp1select-box--items div.selected {
  // }
  
  .mfddp1select-box--items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .mfddp1select-box--arrow-down {
    position: absolute;
    top: 17px;
    left: 12px; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-top: 10px solid #fff;
  }
  
  .mfddp1select-box--arrow-up {
    position: absolute;
    top: 10px;
    left: 12px; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  