// Font
$font:'Scada', sans-serif;

// Color

$main : #0770C8;
$gradient : linear-gradient(45deg, #0A3565 0%, #1782D9 100%);

//Hover Button Biru
$hover: linear-gradient(45deg, rgb(6, 32, 61) 0%, rgb(29, 114, 184) 100%);

//Box Shadow
$shadow: 0 5px 10px 0 rgba(7,112,200,0.1), 0 10px 20px 0 rgba(5,79,140,0.05);
